*{margin: 0;padding: 0;}
body{background: url(https://r2.claris.moe/header_kv_pc.jpg)no-repeat;background-size:100% auto;}
footer{text-align:center;position:absolute;opacity:0.5;background-color: rgb(237,143,180);width: 100%;bottom: 0;}
.cr{bottom:0;}
a{text-decoration:none;}
#o1{position:absolute;font-size: 12px;width: 110px;height: 287px;background: rgb(237,143,180);float: left;left: 37%;bottom: 2.88%;border-radius: 8px;text-align: center;display: none;}
#o2{position:absolute;font-size: 12px;width: 150px;height: 251px;background: rgb(237,143,180);float: left;left: 53.2%;bottom: 2.88%;border-radius: 8px;text-align: center;display:none;}
hr{border:none;border-bottom: 1px dashed;}
#main #box{position:absolute;width: 330px;height: 450px;/*border: 1px dashed;*/left: 40.5%;top: 30%;}
#header .lg{background-image: url(http://img.claris.moe/logo.webp);float: left;width: 400px;height: 167px;margin-left: 37.6%;margin-top:2.5%;}
#ccc{text-align:center;position:absolute;opacity:0.5;background-color: rgb(237,143,180);width: 100%;top: 0;}
